<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwy.demo.mapper.DoctorForgetPasswordMapper">

    <select id="selectforgetpasswordinf" resultType="com.lwy.demo.entity.DoctorUser" parameterType="java.util.concurrent.ConcurrentMap">

        select * from doctoruser
        <where>

            <if test="username != null">
                duusername = #{username}
            </if>
            <if test="key == 'duphone'">
                  and duphone = #{value}
            </if>
            <if test="key == 'ducard'">
                and ducard = #{value}
            </if>


        </where>


    </select>




</mapper>